
/*---------------------------------------------------*/
/* Font Face Kufam
/*---------------------------------------------------*/

@font-face {
  font-family: 'Kufam';
  src: url('/fonts/kufam/webfonts/kufam-400.woff2') format('woff2'),
    url('/fonts/kufam/webfonts/kufam-400.woff') format('woff'),
    url('/fonts/kufam/ttf/kufam-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kufam';
  src: url('/fonts/kufam/webfonts/kufam-500.woff2') format('woff2'),
    url('/fonts/kufam/webfonts/kufam-500.woff') format('woff'),
    url('/fonts/kufam/ttf/kufam-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kufam';
  src: url('/fonts/kufam/webfonts/kufam-600.woff2') format('woff2'),
    url('/fonts/kufam/webfonts/kufam-600.woff') format('woff'),
    url('/fonts/kufam/ttf/kufam-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Kufam';
  src: url('/fonts/kufam/webfonts/kufam-700.woff2') format('woff2'),
    url('/fonts/kufam/webfonts/kufam-700.woff') format('woff'),
    url('/fonts/kufam/ttf/kufam-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kufam';
  src: url('/fonts/kufam/webfonts/kufam-800.woff2') format('woff2'),
    url('/fonts/kufam/webfonts/kufam-800.woff') format('woff'),
    url('/fonts/kufam/ttf/kufam-800.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kufam';
  src: url('/fonts/kufam/webfonts/kufam-900.woff2') format('woff2'),
    url('/fonts/kufam/webfonts/kufam-900.woff') format('woff'),
    url('/fonts/kufam/ttf/kufam-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


/*---------------------------------------------------*/
/* Font Face Inter
/*---------------------------------------------------*/

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/inter/webfonts/inter-100.woff2') format('woff2'),
    url('/fonts/inter/webfonts/inter-100.woff') format('woff'),
    url('/fonts/inter/ttf/inter-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/inter/webfonts/inter-200.woff2') format('woff2'),
    url('/fonts/inter/webfonts/inter-200.woff') format('woff'),
    url('/fonts/inter/ttf/inter-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/inter/webfonts/inter-300.woff2') format('woff2'),
    url('/fonts/inter/webfonts/inter-300.woff') format('woff'),
    url('/fonts/inter/ttf/inter-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter/webfonts/inter-400.woff2') format('woff2'),
    url('/fonts/inter/webfonts/inter-400.woff') format('woff'),
    url('/fonts/inter/ttf/inter-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter/webfonts/inter-500.woff2') format('woff2'),
    url('/fonts/inter/webfonts/inter-500.woff') format('woff'),
    url('/fonts/inter/ttf/inter-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter/webfonts/inter-600.woff2') format('woff2'),
    url('/fonts/inter/webfonts/inter-600.woff') format('woff'),
    url('/fonts/inter/ttf/inter-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter/webfonts/inter-700.woff2') format('woff2'),
    url('/fonts/inter/webfonts/inter-700.woff') format('woff'),
    url('/fonts/inter/ttf/inter-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/inter/webfonts/inter-800.woff2') format('woff2'),
    url('/fonts/inter/webfonts/inter-800.woff') format('woff'),
    url('/fonts/inter/ttf/inter-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/inter/webfonts/inter-900.woff2') format('woff2'),
    url('/fonts/inter/webfonts/inter-900.woff') format('woff'),
    url('/fonts/inter/ttf/inter-900.ttf') format('truetype');
}