:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --fluid-text-xs: clamp(0.4823rem, 0.4723rem + 0.0529vi, 0.512rem);
  --fluid-text-sm: clamp(0.5787rem, 0.5583rem + 0.109vi, 0.64rem);
  --fluid-text-base: clamp(0.6944rem, 0.6593rem + 0.1877vi, 1rem);
  --fluid-text-lg: clamp(0.8333rem, 0.7778rem + 0.2963vi, 1rem);
  --fluid-text-xl: clamp(1rem, 0.9167rem + 0.4444vi, 1.25rem);
  --fluid-text-2xl: clamp(1.2rem, 1.0792rem + 0.6444vi, 1.5625rem);
  --fluid-text-3xl: clamp(1.44rem, 1.269rem + 0.9122vi, 1.9531rem);
  --fluid-text-4xl: clamp(1.728rem, 1.4902rem + 1.2683vi, 2.4414rem);
  --fluid-text-5xl: clamp(2.0736rem, 1.7475rem + 1.7389vi, 3.0518rem);
  --fluid-text-6xl: clamp(2.4883rem, 2.0462rem + 2.358vi, 3.8147rem);
  --fluid-text-7xl: clamp(2.986rem, 2.3919rem + 3.1687vi, 4.7684rem);
}
